:root{
    --primario:#FF5100;
    --blanco:#FFFFFF;

}
*{
    border: none;
    padding:none;
    margin: none;
    font-size: 16px;

}
.principal-boton{
    background-color: var(--primario);
    border: 0px;
    text-decoration: none;
    background: #ff5100 0% 0% no-repeat padding-box;
    border-radius: 0.3125em;
    opacity: 1;
    padding-top:0.3125em;
    padding-bottom:0.3125em;
    padding-left:2.5em;
    padding-right:2.5em;
    text-align: center;
    font: normal normal normal 1.125em/1.625em Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 15px;
    border-bottom: none;
    cursor: pointer;
    font-weight: lighter;
    box-shadow: 0px 3px 6px #00000029;
}

.principal-boton:hover{
    transform: translateX(10px)    

}
.boton-iz{
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    box-shadow: 0px 0.1875em 0.375em #00000029;
    border: 0.1875em solid #FFFFFF;
    border-radius: 0.3125em;
    opacity: 1;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:2.5em;
    padding-right:2.5em;
    font-weight: lighter;
    color: #fff;
    margin-right: 0.625em;
    cursor: pointer;

}

body{
    font-family: 'Roboto', sans-serif;
    font-size:0.875em;
    margin: 0px;
}
header{
    padding-top: 1.4375em;
    background-color: transparent;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 6.25em;
    background: #0D1319 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-left: 12.5em;
    padding-right: 220;
    font-size: 1.125em;
    position: static;
}
.header a {
    color: var(--blanco);
    text-decoration:none;
    padding: 0.75rem;
    font-weight: lighter;
    text-align: left;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0em;
    color: #FFFFFF;
    opacity: 1;
}
nav{
    display: inline;
    font-size: 0.625em;
}
.logo{
    left: 13.75em;
    padding-right: 3.125em;
    width: 12.5em;
    height: 3.3125em;
}
.custom-underline{
    padding-top: 0.3125em;
}

h2{
    text-align: center;
    font: normal normal bold 2.375em/2.5em Roboto;
    font-weight: bold;
    letter-spacing: 0em;
    color: #0D1319;
    opacity: 1;
    font-size: 1.75em;

}
h4{
    font-size: 1.125em;
    text-align: center;
}
p{
    text-align: center;
    font: normal normal normal 1.375em/1.875em Roboto;
    letter-spacing: 0em;
    color: #999999;
    opacity: 1;
    font-size: 1rem;
}
.carousel-indicators li{
    background-color: #000;
    width: 0.9375em;
    height: 0.9375em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: black;
    border: 0.1875em;
    border-color: var(--blanco);
    border: 0.1875em solid #FFFFFF;
    margin-left: 0.625em;
}
  
.carousel-indicators .active{
    background-color: var(--primario);
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 1.5625em;
    height: 1.5625em;
    background-image: none;

}
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    outline: 0px;
    opacity: 0.9;
}
.carousel-caption {
    position: absolute;
    right: 20%;
    top:6.25em;
    bottom: 1.25em;
    left: 15%;
    z-index: 10;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    color: #fff;
    text-align: left;
}
.carousel-caption h1{
    font-size: 42;
}
.carousel-caption p{
    font-size: 16;
    text-align: left;
    font: normal normal 300 1.25em/1.875em Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-right: 13.75em;
}

.carousel-inner2 {
    width: 300px;
    overflow: hidden;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 15px;
    opacity: 1;
    padding-bottom: 120px;
}
.sliders2{
    background-color: red;
    height: 250px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 15px;
    opacity: 1;
    width: 550px;
}

.img2-slider {
    width: 35%!important;
    height: 100%;
}
.caption2 {
    position: absolute;
    right: 0;
    top: 0px;
    left: 30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
    color: #fff;
    text-align: left;
    width: 60%;
}
.caption2 h2{
    color: black;
    margin-top: -5px;
}
.caption2 p{
    color: black;
    padding-right: 0px;
    text-align: left;
    font: normal normal normal 16px/20px Roboto;
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
}
#indicadores2 li{
    content: o;
    background-color: #000;
    width: 0.9375em;
    height: 0.9375em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: black;
    border: 0.1875em;
    border-color: var(--blanco);
    margin-left: 0.625em;
    bottom: 0px;
    position:relative!important; 

}
.indicators2{
    position: relative;
    top: 320px;
}
#indicadores2 .active{
    background-color:#FF5100;
}

.productos{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:top;
    margin-top:3.75em;
    margin-left: 28.125em;
    margin-right: 28.125em;
    height: 550px;
}
.pt-5{
    display:grid;
}


.linea-naranja{
    background-color: var(--primario);
    border-top: 0.125em;
    width: 6.25em;
    height: 0.5em;
    border-radius: 0.625em;
    margin-bottom: 0.75em;
}

.info{
    flex-direction:column;
    padding: 2.5em;
    padding-top: 1.25em;
}
.info p,h2{
    text-align: left;
}
.servicios{
    left: 0px;
    width: 100%;
    height: 34.625em;
    background-color: #F2F2F2;
    margin-top: 0.625em;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.25em;
}
.content{
    display:inline-flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-right: 9.375em;
    padding-left: 9.375em;
    padding-top:3.125em
}
.content p{
    padding-left: 12.5em;
    padding-right: 12.5em;

}
.logos{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.card-servicios{
    background-color: #FFFFFF;
    padding-right: 4.375em;
    padding-left: 4.375em;
    margin: 0.3125em;
    border-radius: 1.875em;
    opacity: 1;
    padding-bottom: 2.5em;
    padding-top: 2.5em;
    box-shadow: 0em 0.375em 0.375em #00000029;
}
.card-servicios h4{
    margin-top: 0.625em;
}
.sostenibilidad-section{
    background: transparent url(/recursos/Grupo\ 1590.png)0% 0% no-repeat padding-box;
    opacity: 1;
    height: 21.875em;
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;



}
.card-sostenibilidad{
    display: inline-flex;
    flex-direction: row;
    height:18.75em;
    width:56.25em;
    align-items: left;
    justify-content: center;

}
.info-sostenibilidad{
    background-color:#000 ;
    width: 50%;
    background: #0D1319 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 0px 15px 15px 0px;
    opacity: 1;
    margin-left: -0.375em;
    flex-direction:column;
    text-align: center;
    height: 18.0625em;


}

.img-sostenibilidad{
    width: 50%;
    background-position: center;

}
.info-sostenibilidad h2 {
    color: var(--blanco);
    text-align: center;
    opacity: 1;
    margin-top: 18px;
}
.info-sostenibilidad p{
    color: var(--blanco);
    font-weight: normal;
    font-size: 0.875em;
    padding-left: 1.0625em;
    padding-right: 1.0625em;

}
.section-entradas{
    background-color: var(--blanco);
    width: 100%;
    height: 36.25em;
    justify-content: center;
    align-items: center;
    padding-top: 1.25em;

}
.articulos{
    display: inline-flex;
    align-items: center;
    background-color: var(--blanco);
    padding-right: 1.875em;
    padding-left: 12.5em;
    width: 20em;
    grid-gap:1.875em;
}
.entrada{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 15px;
    opacity: 1;
    display: block;
    position: relative;
    padding-bottom: 0.75em;

}
.img-articulo{
    width: 18.75em;
}
.info-entradas{
    display:grid;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-right: 9.375em;
    padding-left: 9.375em;    
}
.info-entradas .linea-naranja{
    margin-left: 3.3125em;
    padding-left: 1.25em;
    margin-bottom: 1.25em;
}
.fecha{
    color: var(--primario);
    font-weight: bold;
    font-size: 0.875em;
    text-align: left;
    margin-bottom: -1px;
}
.categoria{
    position: absolute;
    top: 8px;
    left: 220px;
    background-color: var(--primario);
    color: var(--blanco);
    background: #FF5100 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    font-size: 0.6875em;
    padding-top: 0.125em;
    padding-left: 0.625em;
    padding-right: 0.625em;

}
.contenidos-articulo{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3125em;
    align-items: left;
    
}
.contenidos-articulo h3{
    text-align: left;
    font-size: 1.125em;
    font-weight: bold;
}
.contenidos-articulo p{
    text-align: left;
    font-size: 0.75em;
}
.boletin{
    background-color:#233343;
    padding-left: 7.5em;
    padding-top: 3.125em;
    width: 100%;
    height: 25em;
}
.contenidos{
    display: inline-flex;
    padding-right: 7.5em;
    padding-left:620;
}
.boletin-der{
    width: 40%;
    padding-right: 3.75em;
    padding-right: 7.5em;
}
.imagen-boletin{
    width: 23.75em;
    height: 16.875em;
}
.boletines{
    display: block;    
    justify-items: left;
    color: var(--blanco);
    padding-right: 5em;
}
.boletines p{
    color: var(--blanco);
    text-align: left;
    font-size: 0.9375em;
}
.email{
    padding: 0.4375em;
    border-radius: 0.3125em;
    width: 60%;
    padding-left: 0.75em;
    margin-right: 0.3125em;
}
.check{
    padding-top: 12px;
    display: inline-flex;
    flex-wrap: wrap;
}
.check p{
    margin-top: -8px;
    padding-left: 9px;
}
.footer{
    padding-top: 1.25em;
    background-color: #000;
    display: grid;
    justify-content: center;
    align-items: center;
}

.logorss{
    display:inline-flex;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    margin-bottom: 1.25em;
    margin-left: 1.25em;
}
.derechos{
    background-color: white;
    height: 1px;
    margin-bottom: 20px;
}
.contenido-footer p{
    text-align: center;
    font: normal normal normal 1em/1.5em Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    line-height:0.1875em;
    font-weight:400;
}
.rrss{
    padding-left: 40px;
}


.textos-footer{
    margin-top: 1.875em;
    margin-bottom: 1.875em;
}
/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
    .header{ 
        display: list-item;
        align-items: left;
        height: auto;
        padding:0em;
        padding-left: 10px;

        
    }
    .nav-bar{
        display:grid;
        align-items: left;
        margin-top:0;
    }
    .nav-bar :active{
        background-color: var(--primario);
        color: var(--blanco);
        text-decoration: none;
    }
    .nav-bar a{
        padding-top: 0px;

    }
    .header img { 
        width: 200px;
        height: 100px;
        padding-right: 0px;
        align-self: center;
        margin-left: 100px;
    }
    .header button{
        visibility: hidden;
    }
    .carrusel-caption{
        position: absolute;
    }
    .productos{
        width: 100%;
        height: 570px;
        padding:0px;
        margin:0px;
        flex-direction: column;
    }
    .productos p{
        padding-left: 10px;
        padding-right: 10px;
    }
    .card{
        background-color:#FFFFFF;
        margin: 0 auto;
        border-radius: 0.9375em;
        display:contents;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        width: 770px;
        height: 340px;
        margin-left: 34.75em;
        margin-right: 34.75em;
        overflow: hidden;
        background-size: cover;

    }
    .img-panela{
        background: transparent url('img/_DSC1065.png') 0% 0% no-repeat padding-box;
        border-radius: 0.9375em 0em 0em 0.9375em;
        opacity: 1;
        text-align: center;
        width: auto;
        height: 300px;
        background-position:center center;
    }
    .content{
        display: grid;
        padding-top:0px;
        padding-right: 0px;
        padding-left: 0px;
        height: auto;
        width: 100%;
        align-content: center;
    }
    .content{
        flex-direction:column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .content p{
        padding-left: 10px;
        padding-right:18px;
    }
    .logos{
        display:grid;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    .servicios{
        height: auto;
        justify-content: center;
        align-content: center;
    }
    .content h2{
        margin-top: 20px;
        text-align: center;
        line-height: 38px;
    }
    .content .linea-naranja{
        margin-left: 140px;
    }
    .sostenibilidad-section{
        height: auto;
        display: grid;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;  
    }
    .card-sostenibilidad{

        display: contents;
        flex-direction: column;
        height:auto;
        width:auto;
        align-items: left;
        margin-left: 60px;
        margin-right: 60px;
    }
    .info-sostenibilidad{
        width: 100%;
        opacity: 1;
        margin-left: -0.375em;
        padding-bottom: 20px;
        flex-direction:column;
        text-align: center;
        height: auto;
    
    
    }
    
    .img-sostenibilidad{
        width: 100%;
        background-position: 0%;    
    }
    .section-entradas{
        background-color: var(--blanco);
        width: 100%;
        height:auto;
        justify-content: center;
        align-items: center;
        padding-top: 1.25em;
        padding-bottom: 1.25em;
    
    }
    .articulos{
        display: inline-block;
        align-items: center;
        justify-content: center;
        background-color: var(--blanco);
        padding-right:0px;
        padding-left:0px;
        width: 20em;
        grid-gap:1.875em;
        margin-left: 25px;
    }
    .entrada{
        margin-top:20px;

    }
    .info-entradas{
        padding-right: 0px;
        text-align: center;
        justify-content: center;
        padding-left: 0px;
    }
    .boletin{
        background-color:#233343;
        padding-left: 20px;
        padding-top: 3.125em;
        width: 100%;
        height: auto;
    }
    .contenidos{
        display: inline-block;
        padding-right: 7.5em;
        padding-left:620;
    }
    .boletin-der{
        width: 40%;
        padding-right: 3.75em;
        padding-right: 7.5em;
    }
    .imagen-boletin{
        width: 300px;
        height: 200px;
    }
    .boletines{
        display: block;    
        justify-items: left;
        color: var(--blanco);
        padding-right: 5em;
    }
    .boletines p{
        color: var(--blanco);
        text-align: left;
        font-size: 12px;
    }
    .email{
        margin-bottom: 10px;
    }
    .check{
        padding-top: 8px;
        display: inline-flex;
        flex-wrap: wrap;
    }
    .check p{
        margin-top:-4px;
        padding-left: 9px;
    }
    .footer p{
        font-size: 13px;
    }
    .d-none {
        display:block!important;
    }
    .productos{
        height: 580px;
    }
    .sliders2{
        height: 270px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 6px 6px #00000029;
        border-radius: 15px;
        opacity: 1;
        margin-right: 150px;
        margin-left: 150px;
        margin-bottom: 20px;
        padding: 0px;
        width: 350px;
    }
    .carousel-inner2 {
        width: 60%;
        overflow: hidden;
        background:red 0% 0% no-repeat padding-box;
        box-shadow: 0px 6px 6px #00000029;
        border-radius: 15px;
        opacity: 1;
        padding-bottom: 0px;
    }
    .img2-slider {
        width: 35%!important;
        height: 270px!important;
    }
    .caption2 {
        position: absolute;
        right: 0;
        top: 0px;
        left: 30%;
        z-index: 10;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 35px;
        color: #fff;
        text-align: left;
        width: 60%;
    }
    .caption2 h2{
        color: black;
        margin-top: -2px;
        font-size: 18px;
    }
    .caption2 p{
        color: black;
        padding-right: 0px;
        text-align: left;
        font: normal normal normal 14px/18px Roboto;
        letter-spacing: 0px;
        color: #999999;
        opacity: 1;
    }
    #indicadores2 li{
        content: o;
        background-color: #000;
        width: 0.9375em;
        height: 0.9375em;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: black;
        border: 0.1875em;
        border-color: var(--blanco);
        margin-left: 0.625em;
        bottom: 0px;
        position:relative!important; 
    
    }
    .indicators2{
        position: relative;
        top: 320px;
    }
    #indicadores2 .active{
        background-color:#FF5100;
    }
    .carousel-caption{
        top: 0px;
    
    }
    .carousel-caption p{
        font-size: 13px;
        padding-right: 0px;
    }
    .carousel-caption h1{
        font-size: 20px!important;
    }
    .w-100{
        height: 400px;
    }
    .boton-iz{
        margin-bottom: 8px;
    }

}
/**Medium devices (tablets, 768px and up)**/
@media (max-width: 768px) {
    .nav-bar{
        display:inline-block;

    }
    nav{
        display:grid;
        font-size: 0.625em;
    }
    .nav-bar a{
        font-size: 10px;
    }
    .logo{
        left: 13.75em;
        padding-right: 3.125em;
        width: 12.5em;
        height: 3.3125em;
    }
    .header{
        padding-left: 30px;
        padding-right: 30px;
        height: 200px;
        justify-content: center;
        align-items: center;
        
    }.header a {
        color: var(--blanco);
        text-decoration:none;
        padding:20px;
        font-weight: lighter;
        text-align: center;
        font-size: 16px;
        letter-spacing: 0em;
        color: #FFFFFF;
        opacity: 1;
        margin-top: 20px;
    }
    .logo{
        left: 13.75em;
        padding-right: 3.125em;
        width: 12.5em;
        height: 3.3125em;
    }
    .carousel-caption {
        right: 20%;
        top:0px;
        bottom: 1.25em;
        left: 15%;
        z-index: 10;
        padding-top: 1.25em;
        padding-bottom: 1.25em;
        color: #fff;
        text-align: left;
    }
    .carousel-caption h1{
        font-size: 28px;
    }
    .carousel-caption p{
        font-size: 16px;
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        padding-right:20px;
    }
    .productos{
        width: 100%;
        height: 530px;
        padding:0px;
        margin:0px;
        flex-direction: column;
    }
    .productos p{
        padding-left:0px;
        padding-right:20px;
    }
    .sliders2{
        height: 270px;
        margin-right: 150px;
        margin-left: 150px;
        margin-bottom: 20px;
        padding: 0px;
        width: 450px;
    }
    .img2-slider {
        width: 35%!important;
        height: 270px!important;
    }
    .caption2 {
        position: absolute;
        right: 0;
        top: 0px;
        left: 30%;
        z-index: 10;
        padding-top: 10px;
        padding-bottom:10px;
        padding-left: 50px;
        color: #fff;
        text-align: left;
        width: 60%;
    }
    .caption2 h2{
        color: black;
        margin-top: -2px;
        font-size: 18px;
    }
    .caption2 p{
        color: black;
        padding-right: 0px;
        text-align: left;
        font: normal normal normal 14px/18px Roboto;
        letter-spacing: 0px;
        color: #999999;
        opacity: 1;
    }
    .content p{
        padding-left: 10px;
        padding-right:18px;
    }
    .logos{
        display:inline-flex;
        width: 1fr;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        width:100%;
    }
    .servicios{
        height: auto;
        justify-content: center;
        align-content: center;
    }
    .articulos{
        display:inline-flex;
        grid-gap:1.875em;
        padding: 12px;
    }
    .entrada{
        margin-top:20px;

    }
    .info-entradas{
        padding-right: 0px;
        text-align: center;
        justify-content: center;
        padding-left: 0px;
    }
    .boletin{
        background-color:#233343;
        padding-left: 20px;
        padding-top: 3.125em;
        width: 100%;
        height: auto;
    }
    .section-entradas{
        background-color: var(--blanco);
        width: 100%;
        height:600px;
        justify-content:left;
        align-items:left;
        padding-top: 1.25em;
    
    }
    .articulos{
        display: inline-flex;
        align-items:left;
        background-color: var(--blanco);
        padding-right:10px;
        padding-left:10px;
        width: 100%;
        grid-gap:1.875em;
    }
    .entrada{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 6px 6px #00000029;
        border-radius: 15px;
        opacity: 1;
        display: block;
        position: relative;
        padding-bottom: 0.75em;
    
    }
    .img-articulo{
        width:100%;
    }
    .info-entradas{
        display:grid;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        padding-right: 9.375em;
        padding-left: 9.375em;    
    }
    .fecha{
        color: var(--primario);
        font-weight: bold;
        font-size: 0.875em;
        text-align: left;
        margin-bottom: -1px;
    }
    .categoria{
        position: absolute;
        top: 8px;
        left: 150px;
        background-color: var(--primario);
        color: var(--blanco);
        background: #FF5100 0% 0% no-repeat padding-box;
        border-radius: 15px;
        opacity: 1;
        font-size: 0.6875em;
        padding-top: 0.125em;
        padding-left: 0.625em;
        padding-right: 0.625em;
    
    }
    .imagen-boletin{
        width: 300px;
    }
    .principal-boton{
        margin-top:10px;
    }
    .check p{
        margin-top:-20px;
        margin-left: 9px;
    }   
    .card-servicios{
        background-color: #FFFFFF;
        padding-right:30px;
        padding-left: 30px;
        margin: 0.3125em;
        border-radius: 1.875em;
        opacity: 1;
        padding-bottom: 35px;
        padding-top:35px;
        box-shadow: 0em 0.375em 0.375em #00000029;
    }
    .card-servicios img{
        width: 100px;
    }
    .productos-p{
        padding-left: 120px!important;
        padding-right: 80px!important;
    }
    .header a {
        color: var(--blanco);
        text-decoration:none;
        padding: 0.75rem;
        font-weight: lighter;
        text-align: left;
        text-align: left;
        font-size: 18px;
        letter-spacing: 0em;
        color: #FFFFFF;
        opacity: 1;
        font-size: 14px;
    }
    .principal-boton{
        padding-right: 15px;
        padding-left: 15px;
    }


}   